[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Reeltwo"]
	path = components/Reeltwo
	url = https://github.com/MikeyC3040/Reeltwo.git
[submodule "components/HumanCyborgRelationsAPI"]
	path = components/HumanCyborgRelationsAPI
	url = https://github.com/MikeyC3040/HumanCyborgRelationsAPI.git
